

.bookmarks{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;      /* ✅ permet de créer plusieurs lignes */
  gap: 20px;
}






.bookmark{

  // acompleter
  border-radius: 10px;
  width: 220px;         /* ✅ largeur fixe pour chaque carte */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(217, 219, 215);
  img{
    border-radius: 30px;
    margin-top: 10px;
  }

}


.bookmark-infos{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;

}

.footer{
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap:15px;
  justify-content: space-evenly;

}
