.navbar-lewagon {
  justify-content: space-between;
  background: rgba(32, 49, 147, 0.582);
  h1 {
  text-align: center;
  font-family: cursive;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
